In [8]:
import logging

import numpy as np
import pandas as pd

from datasets import binclas_datasets, regr_datasets

from config import dataset_map

In [9]:
binclas_datasets['name'] = binclas_datasets['name'].apply(lambda x: dataset_map.get(x, x))
regr_datasets['name'] = regr_datasets['name'].apply(lambda x: dataset_map.get(x, x))

In [10]:
binclas_datasets['name_key'] = binclas_datasets.apply(lambda row: f'{row["name"]} \\cite{{{row["citation_key"]}}}', axis=1)
regr_datasets['name_key'] = regr_datasets.apply(lambda row: f'{row["name"]} \\cite{{{row["citation_key"]}}}', axis=1)

In [11]:
binclas = binclas_datasets[['name_key', 'n', 'n_col', 'n_grid']].rename(columns = {'name_key': 'name', 'n': 'N', 'n_col': '$N_a$', 'n_grid': '$N_l$'})
regr = regr_datasets[['name_key', 'n', 'n_col', 'n_grid']].rename(columns = {'name_key': 'name', 'n': 'N', 'n_col': '$N_a$', 'n_grid': '$N_l$'})

In [12]:
binclas['name'] = binclas['name'].apply(lambda x: x.replace('_', '-'))
regr['name'] = regr['name'].apply(lambda x: x.replace('_', '-'))

In [13]:
binclas.columns = pd.MultiIndex.from_tuples([('Classification', col) for col in binclas.columns])
regr.columns = pd.MultiIndex.from_tuples([('Regression', col) for col in regr.columns])

In [14]:
binclas

                        Classification
                                  name    N $N_a$ $N_l$
0             appendicitis \cite{keel}  106     7     7
1                 haberman \cite{keel}  306     3     3
2             new-thyroid1 \cite{keel}  215     5     5
3                   glass0 \cite{keel}  214     9     9
4         shuttle-6-vs-2-3 \cite{keel}  230     9     9
5                     bupa \cite{keel}  345     6     6
6         cleveland-0-vs-4 \cite{keel}  177    13    10
7                   ecoli1 \cite{keel}  336     7     5
8             poker-9-vs-7 \cite{keel}  244    10    10
9                   monk-2 \cite{keel}  432     6     4
10               hepatitis \cite{krnn}  155    19     6
11    yeast-0-3-5-9-vs-7-8 \cite{keel}  506     8     6
12            mammographic \cite{keel}  830     5     5
13                 saheart \cite{keel}  462     9     8
14    page-blocks-1-3-vs-4 \cite{keel}  472    10    10
15            lymphography \cite{keel}  148    32     3
16                    pima \cite{keel}  768     8     8
17               wisconsin \cite{keel}  683     9     9
18             abalone9-18 \cite{keel}  731     9     7
19  winequality-red-3-vs-5 \cite{keel}  691    11    11

In [15]:
latex = pd.concat([binclas, regr], axis=1).to_latex(index=False)

In [16]:
with open('tab_datasets.tex', 'wt') as file:
    file.write(latex)